*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
#logo{
       margin: 0px 34px;
}
#logo img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 0px;

}
#navbar ul{
    display: flex;
    margin: 0;
    padding: 0px;

}
#navbar ul li{
        /* color: aliceblue; */
        list-style: none;
        font-size: 1.3rem;
        padding: 0px 20px;
        display: flex;
}
#navbar ul li a{
       display: block;
       padding: 3px 22px;
       border-radius: 20px;
       text-decoration: none;
}
