
.box1{

    background-color: greenyellow;
    border-style: dashed;
    border-color: brown;
    border: 20px 10px 20px 10px;
    padding: 80px;
    margin: 20px;
}

.box2{
    background-color: aqua;
    border-style: dashed;
    border-color: brown;
    border: left 10px rigth 20px top 30px bottem 40px;
    padding: 80px;
    margin: 20px;
}

.box3{
    background-color: blueviolet;
    border-style: dashed;
    border-color: aquamarine ;
    border: 5px;
    padding: 80px;
    margin: 20px;
}